<div class="calendario-container">
  <!-- Días de la semana -->
  <div class="dias-semana">
    <div *ngFor="let dia of diasSemana" class="dia">{{ dia }}</div>
  </div>

  <div class="dias-mes">
    <div *ngFor="let diaObj of diasMes"
      [ngClass]="{
        'dia-actual': diaObj.tipo === 'actual', 
        'dia-tenue': diaObj.tipo === 'anterior' || diaObj.tipo === 'siguiente',
        'hoy': esHoy(diaObj)
      }" 
      class="dia">
      <div class="indice-dia" *ngIf="diaObj.indice !== null">{{ diaObj.indice }}</div>
      {{ diaObj.dia }}
    </div>
  </div>
</div>