.calendario-container {
    width: 312px;
    height: 228px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.dias-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 8px 0;
}

.dias-semana .dia {
    color: #7b827e;
    font-weight: bold;
}

.dias-mes {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
    padding: 8px 0;
    flex-grow: 1;
}


.dias-mes .dia {
    position: relative;
    color: black;
    padding: 4px 0;
}

.indice-dia {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 0.75em;
    color: #FF8390;
    font-weight: bold;
}

.dia-tenue {
    color: #6C7470;
    /* Color más tenue para los días del mes anterior y siguiente */
}

.dia-actual {
    color: #0A1811;
    /* Color normal para los días del mes actual */
}

.hoy {
    color: #FF8390;
    border-bottom: 2px solid #FF8390;
    font-weight: bold;
}

