<!-- info.component.html -->
<div class="carrusel horizontal" *ngIf="!mostrarInfoFlujo && !mostrarInfoEleccion && !mostrarInfoOpciones" >
  <ion-text class="titulo-informacion">Novedades</ion-text>
  <div 
    class="carrusel-inner" 
    [class.sin-transicion]="sinTransicion"
    [style.transform]="'translateX(-' + slideVisual * 100 + '%)'">
    <img [src]="imagenesCarrusel[imagenesCarrusel.length - 1]" />
    <img 
    *ngFor="let img of imagenesCarrusel; let i = index" 
    [src]="img" 
    (click)="
      i === 0 ? mostrarInfoFlujo = true : 
      i === 1 ? mostrarInfoEleccion = true : 
      i === 2 ? mostrarInfoOpciones = true : null"
    />
    <img [src]="imagenesCarrusel[0]" />
  </div>

  <button class="carrusel-btn izquierda" (click)="irAnteriorSlide()">‹</button>
  <button class="carrusel-btn derecha" (click)="irASiguienteSlide()">›</button>

  <div class="carrusel-puntos">
    <span 
      *ngFor="let img of imagenesCarrusel; let i = index"
      [class.activo]="slideVisual === i + 1 || 
                      (slideVisual === 0 && i === imagenesCarrusel.length - 1) || 
                      (slideVisual === imagenesCarrusel.length + 1 && i === 0)"
      (click)="irASlide(i)">
    </span>
  </div>
</div>

<!-- Información 1: flujo vaginal-->
<ng-container *ngIf="mostrarInfoFlujo">
  <div class="info-panel">
    <!-- Botón de cerrar -->
    <ion-button fill="clear" class="btn-cerrar" (click)="mostrarInfoFlujo = false">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>

    <!-- título -->
    <div class="contenedor-titulo">
      <ion-text class="titulo-panel">
        Flujo Vaginal: <br>Lo que debes de saber
      </ion-text>
    </div>

    <!-- Imagen -->
    <img src="assets/img/Informacion/I-1.svg" alt="Ilustración flujo vaginal" class="img-ilustrativa" />

    <!-- texto centrado -->
    <p class="contenido-panel-centrado">
      El flujo vaginal es algo completamente normal en el cuerpo de una mujer 
      y tiene un papel importante en la limpieza y protección de la zona íntima. 
      Aquí te dejamos algunos puntos clave para entenderlo mejor:
    </p>

    <!-- texto de lado -->
    <div class="contenido-panel-lado">
      <p><strong>🔹¿Por qué es importante?</strong><br>
        El flujo ayuda a mantener la vagina limpia, hidratada y protegida de infecciones. 
        Su cantidad y textura pueden cambiar dependiendo de la etapa del ciclo menstrual.</p>
    
      <p><strong>🔹Tipos de flujo y qué significan</strong><br>
      ✅ Transparente o blanco y sin olor: Normal, indica que la vagina está sana. 
      Puede volverse más espeso antes de la menstruación..<br>
      ✅ Blanco espeso y con picazón: Puede ser una infección por hongos (candidiasis).<br>
      ✅ Amarillo o verdoso con mal olor: Puede ser una infección bacteriana o de transmisión sexual.<br>
      ✅ Gris con olor fuerte (como a pescado): Puede ser vaginosis bacteriana y requiere tratamiento.<br>
      ✅ Rosado o marrón: Puede ser sangre vieja antes o después de la menstruación.</p>
    
      <p><strong>🔹¿Cuándo preocuparse?</strong><br>
        Si notas cambios en el color, olor o textura del flujo, especialmente si hay picazón, 
        ardor o mal olor, es importante consultar a un médico.</p>
    
      <p><strong>🔹Consejos para mantener un flujo saludable</strong><br>
      ✔️ Usa ropa interior de algodón y evita telas sintéticas..<br>
      ✔️ No uses duchas vaginales, pueden alterar el pH natural.<br>
      ✔️ Mantén una higiene adecuada con agua y jabón suave.<br>
      ✔️ Evita usar productos perfumados en la zona íntima.<br>
      </p>
    </div>

    <!-- parte final -->
    <p class="contenido-panel-final">
    El flujo vaginal es parte del cuerpo y cambia con el ciclo menstrual. 
    Conócelo y presta atención a cualquier señal inusual. ✨ <br><br><br>
    </p>
  </div>
</ng-container>
  
<!-- Información 2: ¿Ya te bajo?-->
<ng-container *ngIf="mostrarInfoEleccion">
  <div class="info-panel">
    <!-- Botón de cerrar -->
    <ion-button fill="clear" class="btn-cerrar" (click)="mostrarInfoEleccion = false">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>

    <!-- título -->
    <div class="contenedor-titulo">
      <ion-text class="titulo-panel">
        ¿Ya te bajó?<br>¡Bienvenida al club!
      </ion-text>
    </div>

    <!-- Imagen -->
    <img src="assets/img/Informacion/I-2.svg" alt="Ilustración bienvenida" class="img-ilustrativa" />

    <!-- texto centrado -->
    <div class="contenido-panel-centrado">
      <p>La menstruación será tu nuevo compañero de vida por mucho tiempo, así que ve 
        tomando nota de lo que puedes hacer para sentirte más cómoda y cuidarte mejor:</p>

      <p><strong>✅ Usa la protección adecuada</strong><br>
      Hay toallas sanitarias, tampones y copas menstruales. 
      Prueba diferentes opciones hasta encontrar la que mejor se adapte a ti.</p>

      <p><strong>✅ Cambia tu protección a tiempo</strong><br>
      No importa qué uses, cámbiala cada 4 a 6 horas para evitar malos olores o infecciones.</p>

      <p><strong>✅ Lleva un kit menstrual contigo</strong><br>
        Siempre ten en tu bolso una toalla, tampones o lo que uses, 
        junto con toallitas húmedas y un cambio de ropa por si acaso.</p>

      <p><strong>✅ No ignores el dolor</strong><br>
        Si los cólicos son muy fuertes, prueba con una bolsa de agua caliente, 
        estiramientos suaves o un té relajante. Si el dolor es demasiado intenso, consulta con un médico.</p>

      <p><strong>✅ Hidrátate y come bien</strong><br>
      Beber suficiente agua y comer alimentos ricos en hierro 
      te ayudará a evitar el cansancio y sentirte mejor.</p>

      <p><strong>✅ No tengas vergüenza</strong><br>
        La menstruación es natural. No hay razón para sentirte incómoda al hablar de ella 
        o pedir ayuda si lo necesitas.</p>

      <p><strong>✅ Lleva un registro de tu ciclo</strong><br>
      Anota cuándo empieza y termina tu periodo cada mes. 
      Esto te ayudará a saber cuándo llegará el siguiente y si hay cambios en tu cuerpo.</p>
    </div>

    <!-- Cierre -->
    <p class="contenido-panel-final">
      🌸 Tu periodo es parte de ti, <br> a conocerlo y llevarlo de la mejor manera. <br><br><br>
    </p>
  </div>
</ng-container>

<!-- Información 3: Opciones menstruales -->
<ng-container *ngIf="mostrarInfoOpciones">
  <div class="info-panel">
    <!-- Botón de cerrar -->
    <ion-button fill="clear" class="btn-cerrar" (click)="mostrarInfoOpciones = false">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>

    <!-- título -->
    <div class="contenedor-titulo">
      <ion-text class="titulo-panel">
        ¿Sostenibilidad, <br>Comodidad o Practicidad?
      </ion-text>
    </div>

    <!-- Imagen -->
    <img src="assets/img/Informacion/I-3.svg" alt="Ilustración opciones menstruales" class="img-ilustrativa" />

    <!-- texto de lado -->
    <div class="contenido-panel-lado">
      <p>Cada mujer tiene necesidades diferentes, y elegir el método adecuado para tu periodo 
        depende de tu comodidad, estilo de vida y preferencias. Aquí te damos una guía para ayudarte:</p>

      <p><strong>🔹 Toallas sanitarias</strong><br>
      ✔️ Son fáciles de usar y perfectas para quienes empiezan.<br>
      ✔️ No requieren inserción, solo se colocan en la ropa interior..<br>
      ✔️ Hay de distintos tamaños y niveles de absorción.<br>
      ❌ Pueden sentirse incómodas si usas ropa ajustada.<br>
      ❌ Si no se cambian a tiempo, pueden generar malos olores.</p>

      <p><strong>🔹 Tampones</strong><br>
      ✔️ Ideales si practicas deporte o nadas, ya que no se notan.<br>
      ✔️ Absorben el flujo desde dentro, evitando manchas.<br>
      ✔️ Hay de diferentes tamaños según tu flujo.<br>
      ❌ Requieren inserción y pueden ser incómodos al inicio.<br>
      ❌ Deben cambiarse cada 4-6 horas para evitar infecciones.</p>

      <p><strong>🔹 Copa menstrual</strong><br>
      ✔️ Es reutilizable y ecológica, te dura años.<br>
      ✔️ Se puede usar hasta por 12 horas sin cambiarla.<br>
      ✔️ No genera residuos ni malos olores.<br>
      ❌ Puede ser difícil de colocar y sacar al principio..<br>
      ❌ No a todas les resulta cómoda de inmediato.</p>

      <p><strong>💡 ¿Cuál elegir?</strong><br>
      👉 Si buscas algo fácil y sin complicaciones, prueba las toallas.<br>
      👉 Si quieres más libertad de movimiento, los tampones pueden ser una buena opción.<br>
      👉 Si te interesa algo duradero y ecológico, la copa menstrual es ideal.</p>
    </div>

    <!-- Cierre -->
    <p class="contenido-panel-final">
      ✨ No hay una opción perfecta, solo la que mejor se adapte a ti.<br>
      ¡Prueba y descubre cuál te funciona mejor!<br><br><br>
    </p>
  </div>
</ng-container>


<div class="cuidados-container">
  <div class="cuidados-grid">
    <div class="cuadro" *ngFor="let item of cuidados">
      <img [src]="item.img" [alt]="item.titulo" />
      <p>{{ item.titulo }}</p>
    </div>
    <br><br><br>
  </div>

</div>