<ion-content>
  <div class="center">
    <div>
      <h1>!Excelente!</h1>
      <ion-text>
        Tus datos personales se han guardado
      </ion-text>
      <ion-text>
        y están seguros con nostros.
      </ion-text>
      <ion-text style="margin-top: 10px; font-weight: bold;">
        Sigue que nos cuentes sobre tu cuerpo.
      </ion-text>
    </div>
    <div>
      <img class="imagen" src="../../../assets/img/registro/excelente.svg" alt="imagen">
    </div>
    <div class="contenedor-boton">
      <ion-button class="btn-continuar" [routerLink]="['/datos-personales']" type="submit">
        Continuar
      </ion-button>
    </div>
  </div>
</ion-content>