<ion-content [fullscreen]="true" class="fondo">
  <br>
  <div class="encabezado-centrado">
    <p class="titulo">FAQ</p>
    <ion-button class="boton-cerrar" fill="clear" (click)="cerrarPantalla()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="contenido">
    <p class="titulo-gris">Uso de la  App</p>
    <div class="card-ajuste">
      <p><strong>¿Cómo registro mi ciclo menstrual 📝?</strong></p>
      <p>Al iniciar sesión , solo necesitas ingresar en notas la fecha de tu último periodo. A partir de ahí, la app comenzará a registrar y predecir tus ciclos de forma automática.</p>
      <br>
      <p><strong>¿Qué pasa si me equivoco al ingresar una fecha 🤯?</strong></p>
      <p>Don’t worry. Puedes editar cualquier dato en el calendario o en el historial de registros cuando eso pase.</p>
    </div>

    <p class="titulo-gris">Inteligencia artificial</p>
    <div class="card-ajuste">
      <p><strong>¿Cómo funciona la inteligencia artificial en la app 🤖?</strong></p>
      <p> FemSyncronia utiliza IA para analizar tus patrones menstruales y darte predicciones más precisas 
        sobre tus próximos periodos, síntomas y cambios.</p>
      <br>
      <p><strong>¿Cómo aprende la IA 🧠?</strong></p>
      <p>Con tiempo y dedicación . Cuantos más datos registres (síntomas, días de sangrado, estado de ánimo, etc.), más precisa será la predicción de tu ciclo.</p>
    </div>

    <p class="titulo-gris">Privacidad y datos</p>
    <div class="card-ajuste">
      <p><strong>¿Mis datos están seguros 🔒?</strong></p>
      <p>¡Por supuesto!. Tus datos son tratados con confidencialidad y protegidos bajo la Ley de Protección de Datos Personales en México. Solo se usan para mejorar tu experiencia.</p>
      <br>
      <p><strong>¿Puedo eliminar mis datos cuando quiera ❌?</strong></p>
      <p>Claro. Puedes borrar tu cuenta y todos tus datos desde el menú de configuración en la opción “Borrar cuenta”.</p>
    </div>

    <p class="titulo-gris">Soporte y contacto</p>
    <div class="card-ajuste">
      <p><strong>¿Cada cuándo se actualiza la app 📱?</strong></p>
      <p>Trabajamos constantemente en mejorar FemSyncronia. Las actualizaciones se publican de forma periódica e incluyen mejoras en rendimiento, nuevas funciones y ajustes según las sugerencias de nuestras usuarias.</p>
      <br>
      <p><strong>¿Cada cuándo responden dudas o correos 📩?</strong></p>
      <p>Revisamos los mensajes de forma regular. Nos esforzamos por responder a tus dudas o sugerencias en un plazo de 24 a 72 horas hábiles..</p>
    </div>

  </div>



</ion-content>




