<ion-content [fullscreen]="true" class="fondo">
  <br>
  <div class="encabezado-centrado">
    <p class="titulo">FAQ</p>
    <ion-button class="boton-cerrar" fill="clear" (click)="cerrarPantalla()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="contenido">
    <p class="titulo-gris">Uso de la  App</p>
    <div class="card-ajuste">

    </div>

    <p class="titulo-gris">Inteligencia artificial</p>
    <div class="card-ajuste">
      
    </div>

    <p class="titulo-gris">Privacidad y datos</p>
    <div class="card-ajuste">
      
    </div>

    <p class="titulo-gris">Soporte y contacto</p>
    <div class="card-ajuste">
      
    </div>

  </div>



</ion-content>




