<ion-content>
  <swiper-container [pagination]="true">
    <swiper-slide class="slide">
      <div class="section">
        <p>Ten un periodo registrado de</p>
        <p>manera fácil y sencilla</p>
      </div>
      <div class="section">
        <img src="../../assets/img/inicio/portada-1.svg" alt="Portada 1">
      </div>
      <div class="section">
        <p>Vive tus dias con seguridad</p>
      </div>
    </swiper-slide>
    <swiper-slide class="slide">
      <div class="section">
        <p>Planea tus días y previene</p>
        <p>accidentes</p>
      </div>
      <div class="section">
        <img src="../../assets/img/inicio/portada-2.svg" alt="Portada 2">
      </div>
      <div class="section">
        <p>¡Tú llevas el control!</p>
      </div>
    </swiper-slide>
    <swiper-slide class="slide">
      <div class="section">
        <p>No más preocupaciones </p>
        <p>siéntete segura</p>
      </div>
     <div class="section">
        <img src="../../assets/img/inicio/portada-3.svg" alt="Portada 3">
     </div> 
      <div class="section">
        <p>Sincroniza tu vida</p>
        <ion-button class="ion-padding" [routerLink]="['/login']">Iniciar sesión</ion-button>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>