<ion-content>
<swiper-container 
   [pagination]="true">

    <swiper-slide>
      <img class="logo" src="../../assets/img/Logo.svg" alt="Logo de la marca">
      <img class="portada-1" src="../../assets/img/portada 1.svg" alt="Portada 1">
      <p class ="texto">Mantén tu ciclo registrado de</p>
      <p class ="texto">manera fácil y sencilla</p>
    </swiper-slide>

    <swiper-slide>
      <img class="logo-portada-3" src="../../assets/img/Logo.svg" alt="logo de la marca">
      <img class="portada-3" src="../../assets/img/portada3.svg" alt="Portada 3">
      <p class="texto">No más preocupación</p>
      <p class="texto">de tu ciclo menstrual</p>
      <ion-button class="ion-padding" >Iniciar sesión</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
