ion-content {
    --background: none; /* Sin fondo de color por defecto */
    background-image: url('/assets/img/pantalla-principal/fondo-tabs.svg'); /* Imagen de fondo */
    background-size: cover; /* La imagen cubre todo el área */
    background-repeat: no-repeat; /* La imagen no se repite */
    background-position: center; /* La imagen está centrada */
    width: 100%; /* Ancho completo */
    height: 100vh; /* Altura completa de la ventana */
  }
  
/* Contenedor de la barra superior */
.top-bar {
  height: 100px;  
  display: flex; /* Configura el contenedor como flexbox */
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: space-between; /* Espacia los elementos uniformemente */
  padding: 25px 16px; /* Espaciado interno: 10px arriba/abajo, 16px izquierda/derecha */
  width: 100%; /* Ancho completo */
  background-color: transparent; /* Fondo transparente */
}
  
/* Ajusta el ícono de notificación */
.notificacion {
    color: black;
    height: 24px;
    width: 24px;
}
  
/* Ajusta el texto de bienvenida */
.bienvenida-text {
    color: black;
    text-align: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
  
/* Ajusta la imagen de perfil */
.imagen-perfil {
    width: 50px;
    height: 50px;
    object-fit: cover; /* Mantiene las proporciones de la imagen */
    border-radius: 50%; /* Hace la imagen circular */
    border: 1px solid white;
}  

/* Contenedor de información debajo de la barra superior */
.info-periodo {
  width: 324px;
  height: 287px;
  background: #E9E9E9;
  margin: 17px auto; /* Centra horizontalmente */
  border-radius: 20px; /* Bordes redondeados */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacia el contenido */
  align-items: center; /* Centra horizontalmente los elementos */
  padding: 16px; /* Espaciado interno */
}

/* Texto de encabezado "Retraso" */
.info-periodo .titulo {
  font-size: 24px;
  font-weight: 600;
  color: black;
  text-align: center;
  margin: 0;
}

/* Número grande "15" */
.info-periodo .numero {
  font-size: 64px;
  font-weight: 600;
  color: black;
  text-align: center;
  margin: 0;
}

/* Texto "días de tu periodo" */
.info-periodo .subtitulo {
  font-size: 24px;
  font-weight: 600;
  color: black;
  text-align: center;
  margin: 0;
}

/* Línea horizontal */
.info-periodo .linea-horizontal {
  width: 90%; /* Ancho de la línea */
  height: 1px; /* Grosor de la línea */
  background-color: #9D9D9D;
  margin: 1px 0; /* Espaciado vertical */
}

/* Texto "Baja probabilidad de quedar embarazada" */
.info-periodo .observacion {
  font-size: 14px;
  font-weight: normal;
  color: black;
  text-align: center;
  margin: 0;
  font-weight: 600;
}

/* Botón dentro del contenedor */
.boton-informacion {
  width: 223px; /* Ancho del botón */
  height: 37px; /* Altura del botón */
  margin-bottom: 8px; /* Asegura que el botón quede en la parte inferior */
  --background: #ffff; /* Color de fondo del botón */
  --color: #FF9CA7; /* Color del texto del botón */
  --box-shadow: none; /* Sin sombra */
  --border-radius: 50px; /* Radio de borde */
  text-transform: none; /* Transformación de texto */
  font-family: 'Roboto-medium'; /* Familia de fuente */
  --background-activated: #FF8390;
}

/* Componentes adicionales */
.info-sintomas, .info-consejos{
  width: 319px;
  height: 132px;
  background: #FFFFFF; /* Fondo gris claro */
  margin: 24px auto; /* Espaciado entre los componentes */
  border-radius: 20px; /* Bordes redondeados */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: black; /* Color del texto */
  font-weight: 600;
}

ion-menu {
  --width: 243px;
  ion-content {
    --background: #ffffff; /* Establece un fondo blanco para el contenido del menú */
    background-image: none; /* Asegúrate de que no haya imagen de fondo */
  }
}

.datos-perfil {
  height: 158px; /* Altura del contenedor */
  background: #FCBCC3; /* Fondo del contenedor */
  display: flex; /* Usar flexbox para disposición */
  flex-direction: column; /* Coloca elementos en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  margin-bottom: 16px; /* Margen inferior opcional */
  text-align: center; /* Centra el texto */
}

/* Imagen del perfil */
.imagen-espacio-perfil {
  width: 80px; /* Ancho de la imagen */
  height: 80px; /* Altura de la imagen */
  object-fit: cover; /* Ajusta la imagen */
  border-radius: 50%; /* Hace la imagen circular */
  border: 1px solid white; /* Borde opcional */
  margin-bottom: 8px; /* Espaciado con el nombre */
}

/* Contenedor de la información del usuario */
.info-usuario {
  display: flex;
  flex-direction: column; /* Coloca el contenido en columna */
  align-items: center; /* Centra horizontalmente */
}

/* Estilo del nombre del usuario */
.nombre-usuario {
  font-size: 20px;
  font-weight: 600;
  color: #000000; /* Color del texto */
}

/* Línea separadora */
.linea-separadora {
  width: 210px; /* Ancho fijo de la línea */
  height: 1px; /* Altura de la línea */
  background-color: #FFFFFF; /* Color de la línea */
  margin: 4px 0; /* Espaciado superior e inferior */
}

/* Texto descriptivo del usuario */
.correo-usuario {
  font-size: 13px;
  font-weight: 400;
  color: #333333CF; /* Color del texto */
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

ion-item{
  --background:#ffff;
  font-size: 20px;
  font-weight: 600;
  --color: black;
}

.icono{
  font-size: 25px;
  color:black;
}

/* Contenedor para el logo y los textos */
.logo-container {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: center; /* Centra horizontalmente los elementos */
  position: absolute; /* Fija el contenedor en una posición específica */
  bottom: 20px; /* Lo coloca en la parte inferior */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  padding: 10px 0; /* Espaciado opcional si lo necesitas */
}

/* Estilo de la imagen del logo */
.logo {
  width: 40px; /* Ajusta el tamaño del logo */
  height: 40px; /* Ajusta el tamaño del logo */
  object-fit: cover;
  margin-right: 8px; /* Espaciado entre el logo y los textos */
}

/* Contenedor para los textos */
.logo-textos {
  display: flex;
  flex-direction: column; /* Coloca los textos uno debajo del otro */
  align-items: flex-start; /* Alinea los textos a la izquierda */
}

/* Estilo del texto 'Acerca de' */
.acerca-de {
  font-size: 17px;
  font-weight: 400;
  color: #333333;
}

/* Estilo del texto 'femSyncronia' */
.fem-syncronia {
  font-size: 17px;
  font-weight: 600;
  color: #FF4D7F; /* Color de destaque */
}

ion-tab-bar {
  --background: #ffffff; /* Fondo blanco para el tab-bar */
  border-top: none;
}

ion-tab-button {
  --background: #ffffff; /* Fondo blanco de los botones */
  --color: #8e8e93; /* Color por defecto */
  --color-selected: #ff4d7f; /* Color cuando está seleccionado */
  font-size: 7px;
}
ion-button {
  --color: black;
  margin: 0; /* Elimina márgenes no deseados */
  padding: 0; /* Elimina padding no deseado */
}

.mes-año {
  color: black;
  text-align: center;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Contenedor principal */
.info-dia {
  width: 350px;
  background: transparent;
  border-radius: 20px;
  margin: 24px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  position: relative;
}

/* Etiquetas superiores */
.etiquetas-superiores {
  position: absolute;
  top: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
}

.etiqueta-dia-actual{
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #000;
  margin-bottom: 4px;
}

.etiqueta-indice-ciclo{
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  color: #7B7A7A;
}
/* Botón de editar */
.boton-editar {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 150px;
  height: 10px;
  --background: #FFF;
  --border-radius: 50px;
  --color: #000;
  font-size: 14px;
  font-weight: 600;
  text-transform: none;
  --color:#FF9CA7;
  --background-activated: #F2F2F2;
}

/* Contenedores adicionales */
.contenedor-adicional {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.contenedor-item {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinea los elementos uniformemente */
  padding: 8px 0;
  position: relative;
}

/* Texto izquierdo */
.item-texto {
  font-size: 16px;
  color: #333;
  flex: 1; /* Que ocupe el espacio necesario */
  text-align: left;
}

/* Línea divisora */
.linea-divisora {
  width: 2px;
  height: 24px;
  margin: 0 10px; /* Espaciado entre texto e línea */
  align-self: center;
}

/* Texto derecho */
.texto-derecha {
  font-size: 16px;
  color: #333;
  flex: 1;
  text-align: left;
}

/* Colores específicos para cada línea */
.contenedor-item[data-tipo="baja"] .linea-divisora {
  background-color: #C5E1A5;;
}

.contenedor-item[data-tipo="peso"] .linea-divisora {
  background-color: #FFB3C9;;
}

.contenedor-item[data-tipo="temp"] .linea-divisora {
  background-color: #D5B3FF;
}

.contenedor-item[data-tipo="otro"] .linea-divisora {
  background-color: #FFD9B3;
}

/* Centrar el título "Análisis" */
.titulo-analisis {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  text-align: center; /* Asegura que el texto esté centrado */
  width: 100%; /* Ocupa todo el ancho disponible */
}

/* Estilo para el contenedor de ciclos */
.contenedor-ciclos {
  width: 316px;
  height: 170px;
  background: #FFE3E0;; /* Fondo gris claro */
  border-radius: 20px; /* Bordes redondeados */
  margin: 16px auto; /* Centrado y margen */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: black; /* Color del texto */
  font-weight: 600;
  padding: 16px; /* Añadido padding para espaciado interno */
}

/* Estilo para la línea con ícono y texto "Ciclos" */
.linea-ciclos {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea a la izquierda */
  margin-bottom: 8px;
}

.icono-ciclos {
  font-size: 24px;
  margin-right: 8px;
  color: black;
}

.texto-ciclos {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: black;
  margin-top: 8px; /* Espaciado superior para separar del borde */
}

/* Estilo para el texto adicional */
.texto-ciclos-registrados {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: black;
  margin-bottom: 12px;
  text-align: left; /* Alinea el texto a la izquierda */
  display: block;
  width: 100%; /* Para asegurarse de que ocupe toda la línea */
}

/* Ajustar el padding del ion-card-content */
ion-card-content {
  padding: 0; /* Eliminar el padding */
}

/* Contenedor para las dos cards pequeñas */
.contenedor-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px; /* Espaciado entre las cards */
}

/* Estilo para las cards pequeñas */
.card-pequena {
  width: 140px;
  height: 67px;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columna */
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: 600;
  margin: 0;
  padding: 5px; /* Añadir un pequeño padding */
}

/* Contenedor para el ícono y el texto */
.contenido-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px; /* Reducir el espacio entre el ícono y el texto */
  width: 70%;
}

/* Estilo del icono */
.icono-card {
  font-size: 20px;
  color: black;
  flex-shrink: 0; /* Evita que el icono se reduzca */
}

/* Estilo del texto */
.texto-dias {
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap; /* Evita que se divida en dos líneas */
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1; /* Permite que el texto se expanda */
  text-align: center;
  margin-left: 2px; /* Ajuste adicional si es necesario */
}

.color-texto-periodo{
  color: #9F0000;
}
.color-texto-ciclo{
  color:#9F6900;
}
/* Línea divisora */
.linea-divisora {
  width: 90%; /* Ocupar todo el ancho disponible */
  height: 1px;
  margin: 2px 0;
}

/* Colores de la línea divisora */
.linea-roja {
  background-color: #9F0000;
}

.linea-amarilla {
  background-color: #9F6900;
}

/* Estilo del texto "Promedio de período" y "Promedio de ciclo" */
.texto-promedio {
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap; /* Evitar que se divida en dos líneas */
  width: 100%; /* Ocupar todo el ancho */
}

/* Ajustar el padding del ion-card-content */
.content-cards {
  padding: 0; /* Eliminar el padding */
  width: 100%; /* Asegurar que ocupe todo el ancho */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para el contenedor de temperatura */
.contenedor-temperatura {
  width: 316px;
  height: 94px;
  background: #FFFFFF; /* Fondo blanco */
  border-radius: 20px; /* Bordes redondeados */
  margin: 16px auto; /* Centrado y margen */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: black; /* Color del texto */
  font-weight: 600;
}

/* Estilo para el contenedor de peso */
.contenedor-peso {
  width: 316px;
  height: 94px;
  background: #FFFFFF; /* Fondo blanco */
  border-radius: 20px; /* Bordes redondeados */
  margin: 16px auto; /* Centrado y margen */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: black; /* Color del texto */
  font-weight: 600;
}

/* Estilo para el contenedor de historial */
.contenedor-historial {
  width: 316px;
  height: 94px;
  background: #FFFFFF; /* Fondo blanco */
  border-radius: 20px; /* Bordes redondeados */
  margin: 16px auto; /* Centrado y margen */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: black; /* Color del texto */
  font-weight: 600;
}