<ion-menu side="end" menuId="menu-perfil" contentId="contenido" width="223px">
  <ion-content>
    <!-- Espacio para la imagen de perfil -->
    <div class="datos-perfil">
      <img class="imagen-espacio-perfil" [src]="profileImage" alt="Foto de perfil">
      <div class="info-usuario">
        <ion-text class="nombre-usuario">{{nombreCompleto}}</ion-text>
        <div class="linea-separadora"></div>
        <ion-text class="correo-usuario"> {{email}} </ion-text>
      </div>
    </div>

    <!-- Secciones del menú -->
    <ion-item button lines="none" [routerLink]="['/mi-perfil']">
      <ion-icon class="icono" slot="start" src="/assets/icons/pantalla-principal/circulo-de-usuario.svg"></ion-icon>
      <ion-label>Mi perfil</ion-label>
    </ion-item>
    <ion-item button lines="none">
      <ion-icon class="icono" slot="start" src="/assets/icons/pantalla-principal/comentarios.svg"></ion-icon>
      <ion-label>Foro</ion-label>
    </ion-item>
    <ion-item button lines="none">
      <ion-icon class="icono" slot="start"
        src="/assets/icons/pantalla-principal/cinta-de-punto-de-espalda.svg"></ion-icon>
      <ion-label>Recordatorios</ion-label>
    </ion-item>
    <ion-item button lines="none">
      <ion-icon class="icono" slot="start" src="/assets/icons/pantalla-principal/interrogatorio.svg"></ion-icon>
      <ion-label>Ayuda</ion-label>
    </ion-item>
    <ion-item button lines="none">
      <ion-icon class="icono" slot="start" src="/assets/icons/pantalla-principal/ajustes.svg"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-item>
    <ion-item button lines="none" (click)="logout()">
      <ion-icon class="icono" slot="start" src="/assets/icons/pantalla-principal/salida.svg"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-item>
    <div class="logo-container">
      <img class="logo" src="/assets/img/logo.svg" alt="Logo">
      <div class="logo-textos">
        <ion-text class="acerca-de">Acerca de</ion-text>
        <ion-text class="fem-syncronia">FemSyncronia</ion-text>
      </div>
    </div>
  </ion-content>
</ion-menu>

<ion-content id="contenido">
  <ion-tabs>
    <ion-tab tab="principal">
      <div id="pagina-principal">
        <ion-content>
          <!-- Barra superior -->
          <div class="top-bar">
            <ion-icon class="notificacion" src="/assets/icons/pantalla-principal/campana.svg"></ion-icon>
            <ion-text class="bienvenida-text">Bienvenida</ion-text>
            <img class="imagen-perfil" [src]="profileImage" alt="Foto de perfil" (click)="abrirMenuPerfil()">
          </div>

          <!-- Contenedor periodo -->
          <div class="info-periodo">
            <ion-text class="info-text titulo">Retraso</ion-text>
            <ion-text class="numero">15</ion-text>
            <ion-text class="info-text subtitulo">días de tu periodo</ion-text>
            <div class="linea-horizontal"></div>
            <ion-text class="info-text observacion">Baja probabilidad de quedar embarazada</ion-text>
            <ion-button class="boton-informacion">Registrar</ion-button>
          </div>

          <!-- Contenedor síntomas -->
          <div class="info-sintomas">
            <ion-text>Espacio para los síntomas</ion-text>
          </div>

          <!-- Consejo del día -->
          <div class="info-consejos">
            <ion-text>Espacio para los consejos del día</ion-text>
          </div>
        </ion-content>
      </div>
    </ion-tab>

    <ion-tab tab="calendario">
      <div id="pagina-calendario">
        <ion-content>
          <!-- Barra superior -->
          <div class="top-bar">
            <ion-icon class="notificacion" src="/assets/icons/pantalla-principal/campana.svg"></ion-icon>
            <ion-button (click)="mesAnterior()" fill="clear">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
            <ion-text class="mes-año">{{ obtenerNombreMes(mesActual) }} {{ anoActual }}</ion-text>
            <ion-button (click)="mesSiguiente()" fill="clear">
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
            <img class="imagen-perfil" [src]="profileImage" alt="Foto de perfil" (click)="abrirMenuPerfil()">
          </div>
          <!-- Pasar mesActual y anoActual a app-calendario-ciclo -->
          <app-calendario-ciclo [mesActual]="mesActual" [anoActual]="anoActual"></app-calendario-ciclo>
        </ion-content>
      </div>
    </ion-tab>


    <ion-tab tab="grafica">
      <div id="pagina-grafica">
        <ion-content>
          <div class="center">Contenido gráfica</div>
        </ion-content>
      </div>
    </ion-tab>

    <ion-tab tab="buscar">
      <div id="pagina-buscar">
        <ion-content>
          <div class="center">Contenido buscar</div>
        </ion-content>
      </div>
    </ion-tab>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="principal">
        <ion-icon src="../../../assets/icons/Tabs/Hogar.svg"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="calendario">
        <ion-icon src="../../../assets/icons/Tabs/Calendario.svg"></ion-icon>
        Calendario
      </ion-tab-button>
      <ion-tab-button tab="grafica">
        <ion-icon src="../../../assets/icons/Tabs/Estadisticas.svg"></ion-icon>
        Gráfica
      </ion-tab-button>
      <ion-tab-button tab="buscar">
        <ion-icon src="../../../assets/icons/Tabs/Buscar.svg"></ion-icon>
        Buscar
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>