/* Estilo para el contenido principal */
ion-content {
  --background: none;
  background: url('../../assets/img/login/fondo-login.svg') center/cover no-repeat;
  width: 100%;
  height: 100vh;
}

/* Estilo para centrar elementos */
.center {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

h1, ion-text {
  color: black;
}

ion-text {
  font: 15px 'Open sans';
}

/* Estilo para ion-item */
ion-item {
  --background: none;
  --color: #C8C8C8;
  --border-color: #B9B9B9;
  font-size: 17px;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
}

.invalid {
  border-bottom-color: #FF7B7B !important;
}

/* Estilo para ion-input */
ion-input {
  color: #868686;
  --highlight-color-valid: #868686;
  --highlight-color-focused: none;
}

.invalid ion-input {
  color: #FF7B7B;
  --highlight-color-invalid: #FF7B7B;
}

/* Mensajes de error */
.contenedor-error {
  height: 20px;
  display: flex;
  align-items: center;
}

.mensaje-error {
  font: 400 12px/1 'Open sans';
  color: rgba(255, 0, 0, 0.45);
}

/* Icono de visibilidad */
.icono {
  position: relative;
  left: 5px;
  top: 10%;
  cursor: pointer;
  color: #868686;
}

/* Recordar contraseña y olvidar */
.recordarme-olvide {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 305px;
  margin: 16px 0;
}

.recordarme-olvide a {
  text-decoration: none;
}

/* Checkbox */
.recordarme-olvide ion-checkbox {
  --size: 15px;
  --border-radius: 5px;
  --border-color: #FF94A0;
  --checkbox-background-checked: #FF94A0;
  --border-color-checked: #FF94A0;
  --checkbox-background: #FF94A0;
  --checkmark-color: white;
  color: #838383;
}

span {
  font-size: 13px;
  text-align: center;
  color: #838383;
}

span a {
  text-decoration: none;
}

/* Divisor */
.divisor {
  width: 100%;
  height: 1px;
  background-color: #B9B9B9;
  margin: 2px auto;
  position: relative;
}

.divisor::after {
  content: "O";
  font-size: 14px;
  color: #B9B9B9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FCF4F4;
  padding: 0 5px;
}

/* Botones */
.btn-config {
  --border-radius: 50px;
  width: 302px;
  height: 44px;
  text-transform: none;
  font-family: 'Roboto-medium';
}

.btn-continuar {
  --background: #FFB7BF;
  --color: white;
  --padding: 0 20px;
  --border: 1px solid #FFB7BF;
  --box-shadow: none;
  min-height: 44px;
  font-size: 18px;
  --background-activated: #FF8390;
}

.btn-Google {
  font-size: 18px;
  min-height: 44px;
  --color: black;
  --background: rgba(0, 0, 0, 0.09);
  --box-shadow: none;
}