<ion-content>
  <div class="center">
    <div>
      <h1>!Todo listo!</h1>
      <ion-text>
        Gracias por confiar en nosotros.
      </ion-text>
      <ion-text style="margin-top: 10px;">
        Ya podemos empezar a predecir tu
      </ion-text>
      <ion-text>
        periodo y hacer tu vida más fácil,
      </ion-text>
      <ion-text>
        secilla y, sobre todo, feliz.
      </ion-text>
    </div>
    <div>
      <img class="imagen" src="../../../assets/img/formulario/formulario-completado.svg" alt="imagen">
    </div>
    <div class="contenedor-boton">
      <ion-button class="btn-comenzar" [routerLink]="['/pantalla-principal']" type="submit">
        ¡Empecemos!
      </ion-button>
    </div>
  </div>
</ion-content>