<ion-content [fullscreen]="true" class="fondo-construccion">
  <!-- Botón de cerrar -->
  <ion-button class="boton-cerrar" fill="clear" (click)="cerrarPantalla()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-button>

  <div class="contenido-acerca">
    <h1>¿Quiénes<br>somos?</h1>
    <img src="/assets/img/logo/Logo_PNG.svg" alt="logo" class="logo" />
    <img src="/assets/img/recursos/nosotros.svg" alt="Equipo" class="imagen" />

    <div class="tarjeta-info">
      <p>Somos <strong>MID Tech</strong>, un grupo de estudiantes de Ingeniería en Computación del Centro Universitario de Ciencias Exactas e Ingenierías (CUCEI) de la Universidad de Guadalajara.<br>
  
     <br><strong>¿Nuestro propósito?</strong><br>
        Desarrollar y mejorar una aplicación móvil tipo calendario menstrual, implementando Inteligencia Artificial para ofrecer predicciones más precisas y funciones innovadoras.<br>
  
      <br><strong>¿Nuestro objetivo?</strong><br>
        Queremos ayudar a las mujeres a llevar un mejor control de su ciclo menstrual y disfrutar sus días con mayor tranquilidad.<br>
  
      <br><strong>FemSyncronia</strong> forma parte de nuestro proyecto modular de titulación, donde aplicamos los conocimientos adquiridos a lo largo de nuestra formación académica.<br>
  
      <br><strong>Propiedad intelectual</strong><br>
        Todos los derechos de esta aplicación, incluyendo su diseño, logo, funciones y contenido, pertenecen a MID Tech en colaboración con el CUCEI de la Universidad de Guadalajara.</p>
  
      <hr class="separador" />
  
      <p class="frase-final">
        Nuestro compromiso <br> es <strong>contigo ✨</strong><br />
        Seguiremos mejorando e innovando continuamente esta app para ofrecerte la mejor herramienta y que cada ciclo sea más fácil de llevar❤️
      </p>
    </div>
  

    <img src="/assets/img/recursos/escudos.svg" alt="Logos UDG" class="logos-finales" />
  </div>
</ion-content>
