<div class="contenido-grafica">
  <div class="boton-cerrar-container">
    <ion-icon name="close-circle-outline" (click)="cerrar()" class="boton-cerrar"></ion-icon>
  </div>
  <div class="contenedor-grafica">
    <canvas id="graficaTemperatura"></canvas>
  </div>
  <div class="contenedor-inferior">
    <div class="barra-intensidad">
      <div class="niveles">
        <div class="nivel"></div>
        <div class="nivel"></div>
        <div class="nivel"></div>
        <div class="nivel"></div>
        <div class="nivel"></div>
      </div>
      <div class="indicador"></div>
    </div>
  </div>
</div>