<!--<div class="container">
    <div class="login-form">
      <div class="image-container">--->
<!-- Aquí colocamos la imagen -->
<!--      <img src="../assets/zapatos.jpg">
      </div>
  
      <h2 class="title">Ingresa tus credenciales</h2>
  
      <div class="input-container">
        <label for="username">Nombre de usuario</label>
        <input id="username" [(ngModel)]="username" placeholder="Nombre de usuario" />
      </div>
  
      <div class="input-container">
        <label for="password">Contraseña</label>
        <input id="password" [(ngModel)]="password" type="password" placeholder="Contraseña" />
      </div>
  
      <button (click)="login()">Ingresar</button>-->
<!-- <button [routerLink]="['/products']">Productos</button> -->
<!--   </div>
  </div>-->
<!-- nombre-de-la-pagina.page.html -->
<ion-content>
  <div class="center">
    <!-- Título -->
    <div>
      <h1>¡Bienvenido!</h1>
      <ion-text>Ingresa tus datos para iniciar sesión</ion-text>
    </div>

    <!-- Formulario de registro -->
    <form [formGroup]="formulario" (ngSubmit)="enviarDatos()" novalidate>

      <!-- Campo de Correo Electrónico --> 
      <ion-item lines="none" class="ion-no-padding" [class.invalid]="formulario.get('email')?.invalid && formulario.get('email')?.touched">
        <ion-input formControlName="email" label="Correo electrónico" labelPlacement="floating" type="email"
          name="email" ngModel required email>
        </ion-input>
      </ion-item>
      <div class="contenedor-error">
        <ion-text class="mensaje-error"
          *ngIf="formulario.get('email')?.hasError('required') && formulario.get('email')?.touched">
          Ingresa un correo válido.
        </ion-text>
      </div>

      <!-- Campo de Contraseña -->
      <ion-item lines="none" class="ion-no-padding" [class.invalid]="formulario.get('password')?.invalid && formulario.get('password')?.touched">
        <ion-input formControlName="password" label="Contraseña" labelPlacement="floating"
          [type]="passwordVisible ? 'text' : 'password'" (input)="alternarIcono()"></ion-input>
        <ion-icon class="ver-config" *ngIf="mostrarIcono" slot="end"
          name="{{ passwordVisible ? 'eye-off-outline' : 'eye-outline' }}" aria-hidden="true"
          (click)="alternarVisibilidadContrasena()"></ion-icon>
      </ion-item>
      <div class="contenedor-error">
        <ion-text class="mensaje-error"
          *ngIf="formulario.get('password')?.hasError('required') && formulario.get('password')?.touched">
          La contraseña es requerida.
        </ion-text>
      </div>

      <!-- Checkbox recordarme -->
      <div class="recordarme-olvide">
        <ion-checkbox labelPlacement="end">Recuérdame</ion-checkbox>

        <!-- Enlace a olvide contraseña -->
        <a href="#">Olvidé mi contraseña</a>
      </div>
      <ion-button class="btn-continuar btn-config" type="submit">
        Continuar
      </ion-button>
    </form>
    <span>¿No tienes una cuenta? <a [routerLink]="['/registro']">Regístrate</a></span>
    <div class="divisor"></div>
    <ion-button class="btn-Google btn-config">
      <ion-icon slot="start" style="margin-right: 30px;" src="../../assets/icons/google.svg"></ion-icon>
      Continuar con Google
    </ion-button>
  </div>
</ion-content>