<!--<div class="container">
    <div class="login-form">
      <div class="image-container">--->
<!-- Aquí colocamos la imagen -->
<!--      <img src="../assets/zapatos.jpg">
      </div>
  
      <h2 class="title">Ingresa tus credenciales</h2>
  
      <div class="input-container">
        <label for="username">Nombre de usuario</label>
        <input id="username" [(ngModel)]="username" placeholder="Nombre de usuario" />
      </div>
  
      <div class="input-container">
        <label for="password">Contraseña</label>
        <input id="password" [(ngModel)]="password" type="password" placeholder="Contraseña" />
      </div>
  
      <button (click)="login()">Ingresar</button>-->
<!-- <button [routerLink]="['/products']">Productos</button> -->
<!--   </div>
  </div>-->
<!-- nombre-de-la-pagina.page.html -->
<ion-content>
  <div class="center">
    <div>
      <h1>¡Bienvenido!</h1>
      <ion-text>Ingresa tus datos para iniciar sesión</ion-text>
    </div>
    <ion-input type="email" placeholder="Correo Electronico"></ion-input>
    <ion-input type="password" placeholder="Contraseña"></ion-input>
    <div class="recordarme-olvide">
      <ion-checkbox labelPlacement="end">Recuérdame</ion-checkbox>
      <a href="#">Olvidé mi contraseña</a>
    </div>
      <ion-button class="btn-continuar">
        Continuar
      </ion-button>
      <span>¿No tienes una cuenta? <a [routerLink]="['/login']">Regístrate</a></span>
    <div class="divisor"></div>
    <ion-button class="btn-Google">
      <ion-icon slot="start" style="margin-right: 30px;" src="../../assets/icons/google.svg"></ion-icon>
      Continuar con Google
    </ion-button>
  </div>
</ion-content>