<!--<div class="container">
    <div class="login-form">
      <div class="image-container">--->
        <!-- Aquí colocamos la imagen -->
<!--      <img src="../assets/zapatos.jpg">
      </div>
  
      <h2 class="title">Ingresa tus credenciales</h2>
  
      <div class="input-container">
        <label for="username">Nombre de usuario</label>
        <input id="username" [(ngModel)]="username" placeholder="Nombre de usuario" />
      </div>
  
      <div class="input-container">
        <label for="password">Contraseña</label>
        <input id="password" [(ngModel)]="password" type="password" placeholder="Contraseña" />
      </div>
  
      <button (click)="login()">Ingresar</button>-->  
      <!-- <button [routerLink]="['/products']">Productos</button> -->
<!--   </div>
  </div>--> 
<!-- nombre-de-la-pagina.page.html -->
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Correo electrónico</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-button>Ingresar</ion-button>
    </ion-card-content>

    <ion-footer>
      <ion-button color="secondary">¿No tienes una cuenta? Regístrate</ion-button>
    </ion-footer>
  </ion-card>

  <ion-button color="danger">G Continuar con Google</ion-button>
</ion-content>

