.carrusel.horizontal {
    width: 90%;
    margin: 16px auto;
    overflow: hidden;
    position: relative;
  
    .carrusel-inner {
      display: flex;
      transition: transform 1.2s ease-in-out;
  
      img {
        width: 100%;
        border-radius: 12px;
        flex-shrink: 0;
      }
    }
  
    // Botones flotantes (izquierda y derecha)
    .carrusel-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0);
      border: none;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      font-size: 26px;
      color: #ffffff;
      cursor: pointer;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &:hover {
        background-color: #fce4ec00;
      }
  
      &.izquierda {
        left: 3px;
      }
  
      &.derecha {
        right: 3px;
      }
    }
  
    .carrusel-puntos {
      display: flex;
      justify-content: center;
      margin-top: 8px;
  
      span {
        width: 10px;
        height: 10px;
        margin: 0 4px;
        background-color: #ccc;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
  
        &.activo {
          background-color: #f47191; 
        }
      }
    }
    .sin-transicion {
      transition: none !important;
    }  
  }
  
  
  .grupo-horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    padding: 0 16px;
  }