<ion-content [fullscreen]="true" class="fondo-construccion">
  <!-- Botón de cerrar -->
  <ion-button class="boton-cerrar" fill="clear" (click)="cerrarPantalla()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-button>


  <div class="contenido">
    <p class="titulo"><br>Algo increíble<br>está por llegar ✨...<br>
    <br> esperalo</p>
    <img src="/assets/img/recursos/construccion.svg" alt="En construcción" class="imagen-central" />
    <p class="novedades">¡Pronto más novedades!</p>
  </div>
</ion-content>



