

.fondo-construccion {
    --background: none;
    background-image: url('/assets/img/pantalla-principal/fondo-tabs.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    font-family: "Open Sans";
  
  
    .contenido {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 20px 20px;
      text-align: center;
    }
  
    .imagen-central {
      width: 100%;
      max-width: 280px;
      margin-bottom: 24px;
    }

    .titulo {
        color: #000;
        text-align: center;
        font-family: "Open Sans";
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
  
    .novedades {
        color: #000;
        text-align: center;
        font-family: "Open Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

  }
  
  .boton-cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    font-size: 24px;
    color: black;
  
    ion-icon {
      font-size: 30px;
    }
  }
  
  