<ion-content [fullscreen]="true" class="fondo">
  <br>
  <div class="encabezado-centrado">
    <p class="titulo">Términos y condiciones</p>
    <ion-button class="boton-cerrar" fill="clear" (click)="cerrarPantalla()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="contenido">
    <p class="titulo-gris"></p>
    <div class="card-ajuste">
      <p>El uso de la aplicación FemSyncronia, desarrollada por MID Tech en colaboración con el Centro Universitario de Ciencias Exactas 
        e Ingenierías y la Universidad de Guadalajara, tiene como objetivo ayudarte a registrar y monitorear tu ciclo menstrual mediante 
        inteligencia artificial. Al acceder, registrarte o utilizar esta aplicación, aceptas cumplir con los términos y condiciones 
        establecidos a continuación. Al hacerlo, confirmas que has leído, comprendido y aceptado estar sujeto a dichos términos. 
        Si no estás de acuerdo con alguno de ellos, te pedimos que te abstengas de utilizar la aplicación.
      </p><br>

      <p><strong>Uso de la aplicación</strong></p>
      <p>El acceso y uso de FemSyncronia están condicionados a la aceptación y cumplimiento de estos Términos y Condiciones. Al registrarte 
        o utilizar la aplicación, confirmas que has leído, comprendido y aceptado estar sujeto a estos términos. Si no estás de acuerdo 
        con alguno de ellos, debes abstenerte de utilizar la aplicación.
      </p><br>

      <p><strong>Descripción del servicio</strong></p>
      <p>FemSyncronia es una aplicación para registrar y monitorear el ciclo menstrual utilizando inteligencia artificial. Este servicio 
        forma parte de un proyecto escolar. Está diseñado para ofrecer predicciones y registros basados en los datos proporcionados 
        por la usuaria.

        La aplicación tiene fines educativos e informativos, y no sustituye el consejo médico profesional.
        
        Los resultados proporcionados son estimaciones basadas en la información ingresada por la usuaria.
      </p><br>

      <p><strong>Recolección de datos personales</strong></p>
      <p>MID Tech recopila los siguientes datos de la usuaria:
        <br>• Datos personales: nombre, edad, datos corporales, información relacionada con el ciclo menstrual, entre otros.
        <br>• Datos de uso: estadísticas generadas durante el uso de la aplicación.
        <br>• Datos de contacto: correo electrónico, número telefónico y otros datos proporcionados por la usuaria.
        
        Los datos son utilizados para personalizar la experiencia y mejorar el servicio. MID Tech asegura la confidencialidad de la información 
        y su uso conforme a la Ley Federal de Protección de Datos Personales en Posesión de los Particulares en México. 
        Consulta nuestra Política de Privacidad para más detalles.
      </p><br>

      <p><strong>Propiedad intelectual</strong></p>
      <p>FemSyncronia y todo su contenido, incluidos software, diseño, logotipos, gráficos, textos y demás materiales, son propiedad de 
        MID Tech y la Universidad de Guadalajara. Estos están protegidos por las leyes de propiedad intelectual. 
        No está permitido usar estos materiales sin autorización expresa.
      </p><br>

      <p><strong>Limitación de responsabilidad</strong></p>
      <p>MID Tech y la Universidad de Guadalajara no se hacen responsables de:
        <br>• Errores o interrupciones en el servicio de la aplicación.
        <br>• Daños directos, indirectos, incidentales o consecuentes derivados del uso de la aplicación.
        <br>• Decisiones tomadas por la usuaria con base en los datos proporcionados por la aplicación.

        La usuaria es responsable de consultar a un médico en caso de dudas sobre su salud.
      </p><br>

      <p><strong>Modificaciones a los términos y condiciones</strong></p>
      <p>MID Tech se reserva el derecho de modificar estos Términos y Condiciones en cualquier momento. 
        Las modificaciones serán notificadas dentro de la aplicación o por otros medios razonables. 
        Se recomienda revisar periódicamente estos términos.
      </p><br>

      <p><strong>Terminación del acceso</strong></p>
      <p>MID Tech puede suspender o restringir el acceso a la aplicación en cualquier momento, sin previo aviso, 
        si se detecta un incumplimiento de estos términos. La usuaria podrá dar de baja su cuenta en cualquier 
        momento a través de la aplicación.
      </p><br>

      <p><strong>Ley aplicable y jurisdicción</strong></p>
      <p>Estos Términos y Condiciones se regirán por las leyes de los Estados Unidos Mexicanos. 
        En caso de controversias, las partes se someten a los tribunales competentes en Guadalajara, Jalisco, México.
      </p><br>

      <p><strong>Contacto</strong></p>
      <p>Si tienes preguntas o inquietudes sobre estos Términos y Condiciones, 
        puedes contactarnos a través de: femsyncronia&#64;gmail.com
      </p>

    </div>
  </div>
</ion-content>
