<ion-content [fullscreen]="true" class="fondo-construccion">
  <!-- Botón cerrar -->
  <ion-button class="boton-cerrar" fill="clear" (click)="cerrarPantalla()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-button>

  <div class="info-panel">
    <img src="assets/img/cuidados/C-4.svg" alt="Mima tu piel" class="img-ilustrativa2" />
    <div class="contenedor-titulo">
      <ion-text class="titulo-panel">Mima tu piel</ion-text>
    </div>

    <div class="texto-informativo">
      <p>
        Cuidar tu piel es muy importante ya que los cambios hormonales pueden hacerla más sensible o propensa a brotes. Al seguir una rutina de cuidado adecuada, puedes ayudar a reducir la irritación, mantenerla hidratada y equilibrada.
      </p>
      <p>
        Esto no solo mejora la salud de tu piel, sino que también te hace sentir más cómoda y cuidada durante todo tu ciclo menstrual.
      </p>
    </div>

    <p class="texto-final-destacado">Repite después de mí:<br> ¡Mi piel lo merece!</p>
  </div>
</ion-content>
