<ion-content>
  <div class="center">
    <div>
      <h1>Ingresa tu</h1>
      <h1>nueva contraseña</h1>
      <ion-text style="margin-top: 10px;">Ingresa tu nueva contraseña.</ion-text>
      <ion-text style="margin-top: 30px;">Una vez completado, podrás iniciar</ion-text>
      <ion-text>sesión nuevamente.</ion-text>
    </div>

    <!-- Formulario de registro -->
    <form [formGroup]="formulario" (ngSubmit)="enviarDatos()" novalidate>

      <!-- Campo de Contraseña -->
      <ion-item lines="none" class="ion-no-padding"
        [class.invalid]="formulario.get('password')?.invalid && formulario.get('password')?.touched">
        <ion-input formControlName="password" label="Contraseña" labelPlacement="floating"
          [type]="passwordVisible ? 'text' : 'password'" (input)="alternarIcono('password')"></ion-input>
        <ion-icon class="ver-config" *ngIf="mostrarIconoPassword" slot="end"
          name="{{ passwordVisible ? 'eye-off-outline' : 'eye-outline' }}"
          (click)="alternarVisibilidadContrasena('password')"></ion-icon>
        <div>
          <ion-text *ngIf="formulario.get('password')?.touched">
            <ion-icon [name]="formulario.get('password')?.hasError('faltaLongitud') ? 'close' : 'checkmark'"
              [class.valido]="!formulario.get('password')?.hasError('faltaLongitud')"
              [class.invalido]="formulario.get('password')?.hasError('faltaLongitud')"></ion-icon>
            La contraseña debe tener al menos 8 caracteres.
          </ion-text>
          <ion-text *ngIf="formulario.get('password')?.touched ">
            <ion-icon [name]="formulario.get('password')?.hasError('faltaMayuscula') ? 'close' : 'checkmark'"
              [class.valido]="!formulario.get('password')?.hasError('faltaMayuscula')"
              [class.invalido]="formulario.get('password')?.hasError('faltaMayuscula')"></ion-icon>
            La contraseña debe contener al menos una letra mayúscula.
          </ion-text>
          <ion-text *ngIf="formulario.get('password')?.touched">
            <ion-icon [name]="formulario.get('password')?.hasError('faltaNumero') ? 'close' : 'checkmark'"
              [class.valido]="!formulario.get('password')?.hasError('faltaNumero')"
              [class.invalido]="formulario.get('password')?.hasError('faltaNumero')"></ion-icon>
            La contraseña debe contener al menos un número.
          </ion-text>
          <ion-text *ngIf="formulario.get('password')?.touched">
            <ion-icon [name]="formulario.get('password')?.hasError('faltaEspecial') ? 'close' : 'checkmark'"
              [class.valido]="!formulario.get('password')?.hasError('faltaEspecial')"
              [class.invalido]="formulario.get('password')?.hasError('faltaEspecial')"></ion-icon>
            La contraseña debe contener al menos un carácter especial.
          </ion-text>
        </div>
      </ion-item>
      <div class="contenedor-error">
        <ion-text class="mensaje-error"
          *ngIf="formulario.get('password')?.hasError('required') && formulario.get('password')?.touched">
          <ion-icon name="close"></ion-icon>
          La contraseña es requerida.
        </ion-text>
      </div>
      <!-- Campo de Confirmar Contraseña -->
      <ion-item lines="none" class="ion-no-padding"
        [class.invalid]="formulario.get('confirmarPassword')?.invalid && formulario.get('confirmarPassword')">
        <ion-input formControlName="confirmarPassword" label="Confirmar contraseña" labelPlacement="floating"
          [type]="confirmarPasswordVisible ? 'text' : 'password'"
          (input)="alternarIcono('confirmarPassword')"></ion-input>
        <ion-icon class="icono" *ngIf="mostrarIconoConfirmPassword" slot="end"
          name="{{ confirmarPasswordVisible ? 'eye-off-outline' : 'eye-outline' }}"
          (click)="alternarVisibilidadContrasena('confirmarPassword')"></ion-icon>
      </ion-item>
      <div class="contenedor-error">
        <ion-text class="mensaje-error" *ngIf="formulario.hasError('passwordMismatch')">
          Las contraseñas no coinciden.
        </ion-text>
      </div>
      <div class="contenedor-boton"> <!-- Botón de enviar datos -->
        <ion-button class="btn-enviar btn-config"  [routerLink]="['/confirmacion']" type="submit" [disabled]="formulario.invalid">
          Enviar
        </ion-button>
      </div>

    </form>
  </div>
</ion-content>