<ion-content>
  <!-- Barra superior -->
  <div class="top-bar">
    <ion-icon class="notificacion" name="notifications-outline"></ion-icon>
    <ion-text class="bienvenida-text">Registro</ion-text>
    <img class="imagen-perfil" [src]="profileImage" alt="Foto de perfil">
  </div>

  <!-- Contenedor para el período -->
  <div class="periodo-container">
    <ion-text class="texto-periodo">Período</ion-text>
    <ion-button class="boton-comenzado">He comenzado</ion-button>
  </div>

  <!-- Contenedor para el sangrado -->
  <div class="sangrado-container">
    <ion-text class="texto-sangrado">Sangrado</ion-text>
    <div class="gotas-container">
      <img *ngFor="let gota of [1,2,3,4,5]"
        [src]="gota <= sangradoGotas ? 'assets/icons/pantalla-principal/gota-llena.svg' : 'assets/icons/pantalla-principal/gota-vacia.svg'"
        (click)="calificarSangrado(gota)" class="gota" [ngClass]="{ 'gota-activa': gota <= sangradoGotas }">
    </div>
  </div>

  <!-- Contenedor para los síntomas -->
  <div class="sintomas-container">
    <ion-text class="texto-sintomas">Síntomas</ion-text>
    <app-sintomas-container [sintomas]="sintomas" [sintomasPorTipo]="sintomasPorTipo"></app-sintomas-container>
  </div>

  <!-- Contenedor para las notas -->
  <div class="notas-container">
    <ion-text class="texto-notas">Notas</ion-text>
    <div class="textarea-contenedor">
      <!-- Ícono de notas -->
      <img src="assets/icons/pantalla-principal/editar.svg" class="icono-notas" *ngIf="!notasValue" />
      <!-- Textarea -->
      <ion-textarea class="textarea-notas" placeholder="Escribe tus notas aquí..."
        [(ngModel)]="notasValue"></ion-textarea>
    </div>
  </div>
</ion-content>