<ion-content>
  <!-- Barra superior -->
  <div class="top-bar">
    <ion-icon class="notificacion" name="notifications-outline"></ion-icon>
    <ion-text class="bienvenida-text">Registro</ion-text>
    <img class="imagen-perfil" [src]="profileImage" alt="Foto de perfil">
  </div>

  <!-- Contenedor para el período -->
  <div class="periodo-container">
    <ion-text class="texto-periodo">Período</ion-text>
    <ion-button class="boton-comenzado">He comenzado</ion-button>
  </div>

  <!-- Contenedor para el sangrado -->
  <div class="sangrado-container">
    <span class="texto-sangrado">Sangrado</span>
    <div class="gotas-container">
      <ion-icon name="water"></ion-icon>
      <ion-icon name="water"></ion-icon>
      <ion-icon name="water"></ion-icon>
      <ion-icon name="water"></ion-icon>
      <ion-icon name="water"></ion-icon>
    </div>
  </div>
</ion-content>