<ion-content>
  <div class="center">
    <div>
      <h1>¿En que te afecta el</h1>
      <h1>periodo?</h1>
      <ion-text>
        Nuestro periodo tiende a afectar varios
      </ion-text>
      <ion-text>
        factores de nuestra vida cotidiana.
      </ion-text>
    </div>

    <div class="pregunta-radio">
      <ion-text class="color-texto">En tu piel:</ion-text>
      <ion-radio-group #pielGroup class="opciones-radio">
          <ion-radio class="custom-radio" labelPlacement="end" value="1">Si</ion-radio>
          <ion-radio class="custom-radio" labelPlacement="end" value="0">No</ion-radio>
          <ion-radio class="custom-radio" labelPlacement="end" value="2">No lo sé</ion-radio>
      </ion-radio-group>
    </div>

    <div class="pregunta-radio">
      <ion-text class="color-texto">En tu peso:</ion-text>
      <ion-radio-group #pesoGroup class="opciones-radio">
          <ion-radio class="custom-radio" labelPlacement="end" value="1">Si</ion-radio>
          <ion-radio class="custom-radio" labelPlacement="end" value="0">No</ion-radio>
          <ion-radio class="custom-radio" labelPlacement="end" value="2">No lo sé</ion-radio>
      </ion-radio-group>
    </div>

    <div class="pregunta-radio">
      <ion-text class="color-texto">En tu sueño:</ion-text>
      <ion-radio-group #suenoGroup class="opciones-radio">
          <ion-radio class="custom-radio" labelPlacement="end" value="1">Si</ion-radio>
          <ion-radio class="custom-radio" labelPlacement="end" value="0">No</ion-radio>
          <ion-radio class="custom-radio" labelPlacement="end" value="2">No lo sé</ion-radio>
      </ion-radio-group>
    </div>

    <div class="pregunta-radio">
      <ion-text class="color-texto">En tu energia:</ion-text>
      <ion-radio-group #energiaGroup class="opciones-radio">
          <ion-radio class="custom-radio" labelPlacement="end" value="1">Si</ion-radio>
          <ion-radio class="custom-radio" labelPlacement="end" value="0">No</ion-radio>
          <ion-radio class="custom-radio" labelPlacement="end" value="2">No lo sé</ion-radio>
      </ion-radio-group>
    </div>

    <div class="pregunta-radio">
      <ion-text class="color-texto">En tu apetito:</ion-text>
      <ion-radio-group #apetitoGroup class="opciones-radio">
          <ion-radio class="custom-radio" labelPlacement="end" value="1">Si</ion-radio>
          <ion-radio class="custom-radio" labelPlacement="end" value="0">No</ion-radio>
          <ion-radio class="custom-radio" labelPlacement="end" value="2">No lo sé</ion-radio>
      </ion-radio-group>
    </div>

    <div class="pregunta-radio">
      <ion-text class="color-texto">En tu humor:</ion-text>
      <ion-radio-group #humorGroup class="opciones-radio">
          <ion-radio class="custom-radio" labelPlacement="end" value="1">Si</ion-radio>
          <ion-radio class="custom-radio" labelPlacement="end" value="0">No</ion-radio>
          <ion-radio class="custom-radio" labelPlacement="end" value="2">No lo sé</ion-radio>
      </ion-radio-group>
    </div>
    <div class="divisor"></div>

    <div class="contenedor-boton">
      <ion-button class="btn-continuar" (click)="enviarDatos()" type="submit">
        Continuar
      </ion-button>
    </div>

    <span><a [routerLink]="['/registro']">¿Necesitas ayuda?</a></span>
  </div>
</ion-content>