<ion-content>
  <div class="center">
    <div>
      <h1>Perfectirijillo!</h1>
      <ion-text>
        Leeremos tu mensaje a la brevedad
      </ion-text>
      <ion-text>
        para poder darte una respuesta y 
      </ion-text>
      <ion-text style="margin-top: 10px; font-weight: bold;">
        Sigue disfrutando de la app.
      </ion-text>
    </div>
    <div>
      <img class="imagen" src="../../../assets/img/registro/excelente 2 .svg" alt="imagen">
    </div>
    <div class="contenedor-boton">
      <ion-button class="btn-continuar" [routerLink]="['/pantalla-principal']"  type="submit">
        Continuar
      </ion-button>
    </div>
  </div>
</ion-content>