.fondo-construccion {
    --background: none;
    background-image: url('/assets/img/pantalla-principal/fondo-tabs.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    font-family: "Open Sans";
  
  
    .contenido {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 20px 20px; 
      margin-top: 20px; 
      text-align: center;
    }

    .encabezado-centrado {
        position: relative;
        height: 50px;
        margin-bottom: 10px;
      
        .titulo {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 10px;
          font-size: 24px;
          font-weight: 600;
          font-family: "Open Sans";
          color: #000;
          margin: 0;
        }
      
        .boton-cerrar {
            position: absolute;
            top: 0;
            right: 10px;
            z-index: 10;
            color: #000;
            ion-icon {
              font-size: 30px;
            }
          }       
      }

      .titulo-gris {
        color: #9D9D9D;
        font-family: "Open Sans";
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: left;
        margin: 24px auto 0px auto; 
        width: 85%; 
    }
    
  }
  
  .card-ajuste {
    border-radius: 10px;
    background: #FFE3E0;
    width: 320px;
    height: 130px;
    flex-shrink: 0;
    padding: 16px;
    margin: 12px 16px;
    margin: 4px auto 0 auto;
    width: 85%; 
  
    .item-ajuste, .item-simple {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 12px;
      
      img {
        width: 35px;
        margin-right: 12px;
        margin-left: 4px;
        display: block;
      }
  
      span {
        font-size: 16px;
        font-weight: 600;
        color: #000;
        margin-right: auto;
      }
  
      ion-select {
        margin-left: auto;
        max-width: 120px;
      }
    }
  
    .borrar span {
      color: #D33030;
      font-weight: bold;
    }
  }
  

  .dropdown-f {
    background: #fff;
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 14px;
    color: #bbb;
    display: flex;
    align-items: center;
    gap: 4px;
    min-width: 110px;
    justify-content: space-between;
  }
  
  ion-item.item-simple {
    --background: transparent;
    --color: black;
    --detail-icon-color: black;
    --padding-start: 0;
    --inner-padding-end: 0;
    margin: 0;
    height: auto; //
    font-family: "Open Sans";
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 4px !important;
    padding-right: 4px !important;
    border-radius: 8px;
  
    img {
      width: 28px;
      margin-left: 4px;
    }
  
    .texto-opcion {
      color: #000;
      font-weight: 600;
    }

  }
  
  .card-ajuste-p {
    border-radius: 10px;
    background: #FFE3E0;
    width: 320px;
    height: 115px;
    flex-shrink: 0;
    padding: 16px;

    margin: 4px auto 0 auto;
    width: 85%; 
  
    .item-ajuste, .item-simple {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 12px;
      
      img {
        width: 35px;
        margin-right: 12px;
        margin-left: 4px;
        display: block;
      }
  
      span {
        font-size: 16px;
        font-weight: 600;
        color: #000;
        margin-right: auto;
      }
  
      ion-select {
        margin-left: auto;
        max-width: 120px;
      }
    }

  }