<ion-content>
  <div class="center">
    <div>
      <h1>Crea una cuenta</h1>
      <ion-text>Ingresa tus datos para registrarte</ion-text>
    </div>
    <form #formulario="ngForm" (ngSubmit)="enviarDatos()" novalidate>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input label="Usuario" labelPlacement="floating" type="text" name="username" ngModel required>
        </ion-input>
      </ion-item>
      <div class="contenedor-error">
        <ion-text class="mensaje-error"
          *ngIf="formulario.controls['username']?.invalid && formulario.controls['username']?.touched">
          El nombre de usuario es requerido.
        </ion-text>
      </div>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input label="Correo electrónico" labelPlacement="floating" type="email" name="email" ngModel required email>
        </ion-input>
      </ion-item>
      <div class="contenedor-error">
        <ion-text class="mensaje-error" *ngIf="formulario.controls['email']?.invalid && formulario.controls['email']?.touched">
          Ingresa un correo válido.
        </ion-text>
      </div>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input label="Contraseña" labelPlacement="floating" [type]="passwordVisible ? 'text' : 'password'" name="password"
          [(ngModel)]="usuario.password" required (input)="validarContrasenas()" (blur)="mostrarIconoPassword = false">
        </ion-input>
        <ion-icon *ngIf="mostrarIconoPassword" name="{{ passwordVisible ? 'eye-off-outline' : 'eye-outline' }}"
          aria-hidden="true" class="ver-config" (click)="alternarVisibilidadContrasena('password')"></ion-icon>
      </ion-item>
      <div class="contenedor-error">
        <ion-text class="mensaje-error"
          *ngIf="formulario.controls['password']?.invalid && formulario.controls['password']?.touched">
          La contraseña es requerida.
        </ion-text>
      </div>
      <ion-item lines="none" class="ion-no-padding">
        <ion-input label="Confirmar contraseña" labelPlacement="floating" [type]="confirmarPasswordVisible ? 'text' : 'password'"
          name="confirmarPassword" [(ngModel)]="usuario.confirmarPassword" required (input)="validarContrasenas()">
        </ion-input>
        <ion-icon *ngIf="mostrarIconoConfirmPassword"
          name="{{ confirmarPasswordVisible ? 'eye-off-outline' : 'eye-outline' }}" aria-hidden="true"
          class="ver-config" (click)="alternarVisibilidadContrasena('confirmarPassword')"></ion-icon>
      </ion-item>
      <div class="contenedor-error">
        <ion-text class="mensaje-error"
          *ngIf="usuario.password !== usuario.confirmarPassword && formulario.controls['confirmarPassword']?.touched">
          Las contraseñas no coinciden.
        </ion-text>
      </div>
      <div class="recordarme-olvide">
        <ion-checkbox labelPlacement="end" required>Acepto <a href="#">Términos y Condiciones</a></ion-checkbox>
      </div>
      <ion-button class="btn-registrarse btn-config" type="submit"
        [disabled]="formulario.invalid || usuario.password !== usuario.confirmarPassword">
        Registrarse
      </ion-button>
    </form>
    <span>¿Ya tienes una cuenta? <a [routerLink]="['/login']">Inicia sesión</a></span>
    <div class="divisor"></div>
    <ion-button class="btn-Google btn-config">
      <ion-icon slot="start" style="margin-right: 30px;" src="../../assets/icons/google.svg"></ion-icon>
      Continuar con Google
    </ion-button>
  </div>
</ion-content>