<ion-content>
  <div class="center">
    <div>
      <h1>!Bienvenida!</h1>
      <h1>Maria_Hernandez!</h1>
      <ion-text>
        Ya quedo tu cuenta registrada.
      </ion-text>
      <ion-text style="margin-top: 10px;">
        Estamos emocionados de tenerte con
      </ion-text>
      <ion-text>
        nosotras
      </ion-text>
    </div>
    <div>
      <img class="imagen" src="../../../assets/img/registro/felicidades 2.svg" alt="imagen">
    </div>
    <div class="contenedor-boton">
      <ion-button class="btn-continuar" [routerLink]="['/datos-personales']" type="submit">
        Continuar
      </ion-button>
    </div>
  </div>
</ion-content>