<ion-content>
  <div class="contenedor-central">
    <div class="contenedor-perfil">
      <img class="foto-perfil" src="/assets/img/pantalla-principal/Foto-perfil.svg" alt="Foto de perfil">
      <div class="informacion-usuario">
        <div class="nombre-apellido">
          <ion-text class="nombre">María</ion-text>
          <ion-text class="apellido">Hernández</ion-text>
        </div>
        <ion-text class="correo">maryhz43gmail.com</ion-text>
      </div>
    </div>

    <ion-text class="detalles-periodo-titulo">Detalles del periodo</ion-text>

    <div class="contenedor-periodo">
      <ion-text class="contenido-periodo">Información del periodo</ion-text>
    </div>

    <ion-text class="recordatorios-titulo">Recordatorios</ion-text>

    <div class="contenedor-recordatorios">
      <ion-text class="contenido-recordatorios">Aquí puedes agregar tus recordatorios.</ion-text>
    </div>
  </div>
</ion-content>
