<ion-content keyboard-attach>
  <div class="center">
    <div>
      <h1>Mi anterior</h1>
      <h1>ciclo menstrual</h1>
      <ion-text>
        para tener mayor precisión en tu periodo,
      </ion-text>
      <ion-text>
        necesitamos saber sobre la última vez
      </ion-text>
      <ion-text>
        que te bajó.
      </ion-text>
    </div>
    <form [formGroup]="formulario">
      <div class="preguntas">
        <div>
          <ion-text class="color-texto">Inicio del último periodo:</ion-text>
          <div class="selector-periodo">
            <!-- Selector para el mes -->
            <ion-select class="mes" placeholder="Mes" interface="popover" formControlName="mesInicio" (ionChange)="actualizarDias('inicio')">
              <ion-select-option *ngFor="let mes of meses" [value]="mes">{{ mes }}</ion-select-option>
            </ion-select>
            <!-- Selector para el día, dependiente del mes -->
            <ion-select class="dia" placeholder="Día" interface="popover" formControlName="diaInicio">
              <ion-select-option *ngFor="let dia of diasInicio" [value]="dia">{{ dia }}</ion-select-option>
            </ion-select>
          </div>
        </div>

        <div>
          <ion-text class="color-texto">Fin del último periodo:</ion-text>
          <div class="selector-periodo">
            <!-- Selector para el mes -->
            <ion-select class="mes" placeholder="Mes" interface="popover" formControlName="mesFin" (ionChange)="actualizarDias('fin')">
              <ion-select-option *ngFor="let mes of meses" [value]="mes">{{ mes }}</ion-select-option>
            </ion-select>
            <!-- Selector para el día, dependiente del mes -->
            <ion-select class="dia" placeholder="Día" interface="popover" formControlName="diaFin">
              <ion-select-option *ngFor="let dia of diasFin" [value]="dia">{{ dia }}</ion-select-option>
            </ion-select>
          </div>
        </div>

        <div class="promedio-periodo">
          <ion-text class="color-texto">Promedio del ultimo periodo:</ion-text>
          <div class="input-group">
            <ion-item class="ion-no-padding" [class.invalid]="formulario.get('dias1')?.invalid && formulario.get('dias1')?.touched">
              <ion-input #dias1 (input)="soloNumeros(dias1)" maxlength="2" type="text" formControlName="dias1"></ion-input>
            </ion-item>
            <label for="dias1" class="label-dias">Días</label>
          </div>
          <!-- Contenedor de error para el primer input -->
          <div class="contenedor-error">
            <ion-text class="mensaje-error" *ngIf="formulario.get('dias1')?.hasError('required') && formulario.get('dias1')?.touched">
              El numero es requerido.
            </ion-text>
            <ion-text class="mensaje-error" *ngIf="formulario.get('dias1')?.hasError('max')">
              El numero de días excede el rango.
            </ion-text>
          </div>
          <ion-text class="color-texto">Promedio del ciclo:</ion-text>
          <div class="input-group">
            <ion-item class="ion-no-padding" [class.invalid]="formulario.get('dias2')?.invalid && formulario.get('dias2')?.touched">
              <ion-input #dias2 (input)="soloNumeros(dias2)" maxlength="2" type="text" formControlName="dias2"></ion-input>
            </ion-item>
            <label for="dias2" class="label-dias">Días</label>
          </div>
          <!-- Contenedor de error para el segundo input -->
          <div class="contenedor-error">
            <ion-text class="mensaje-error" *ngIf="formulario.get('dias2')?.hasError('required') && formulario.get('dias2')?.touched">
              El numero es requerido.
            </ion-text>
            <ion-text class="mensaje-error" *ngIf="formulario.get('dias2')?.hasError('max')">
              El numero de días excede el rango.
            </ion-text>
          </div>
        </div>
      </div>
    </form>
    <div class="divisor"></div>

    <div class="contenedor-boton">
      <ion-button class="btn-continuar" [routerLink]="['/periodo']" type="submit">
        Continuar
      </ion-button>
    </div>

    <span><a [routerLink]="['/registro']">¿Necesitas ayuda?</a></span>
  </div>
</ion-content>